body {
    background-color: #24586F;
}


h1 {
    text-align: center;
    font-size: 3.7rem;
    color: PowderBlue;
    text-shadow:
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 10px Navy,
        0 0 15px Navy,
        0 0 20px Navy;
    margin: 20px 0 40px 0;
}

.selectfile {
    padding: 50px;
    font-size: xx-large;
    border-radius: 20px;
    background: linear-gradient(50deg, PowderBlue, DodgerBlue);
    border-width: medium;
    border-color: MidnightBlue;
    border-style: solid;
    width: 220px;
    transition: all 0.1s ease;
    transform-origin: center;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectfile:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 1);
    z-index: 10;
}

.block {
    font-size: xx-large;
    border-radius: 20px;
    background: linear-gradient(50deg, DodgerBlue, MediumBlue);
    border-width: medium;
    border-color: MidnightBlue;
    border-style: solid;
    width: 360px;
    height: 300px;
    transition: all 0.1s ease;
    transform-origin: center;
    margin: 15px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 1);
    z-index: 10;
}

.button_convert {
    font-size: xx-large;
    border-radius: 20px;
    background: linear-gradient(50deg, MediumAquamarine, MediumSeaGreen);
    border-width: medium;
    border-color: MidnightBlue;
    border-style: solid;
    width: 400px;
    height: 306px;
    transition: all 0.1s ease;
    transform-origin: center;
    margin: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button_convert:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 1);
    z-index: 10;
}

.load {
    font-size: xx-large;
    border-radius: 20px;
    background: linear-gradient(50deg, MediumSeaGreen, Cyan);
    border-width: medium;
    border-color: MidnightBlue;
    border-style: solid;
    width: 400px;
    height: 306px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    transition: all 0.1s ease;
    transform-origin: center;
    cursor: pointer;
}

.load:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 1);
    z-index: 10;
}

.allblocks {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}