{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>
        Converter for photos and videos
    </h1>
    <button>
        Select a file
    </button>
    <div class = "block">
        <h2>Простой div блок</h2>
    </div>
    <button class = "button_convert">
        Convert!
    </button>
    <button class = "load">
        Download file
    </button>
</body>
</html>